@import '../vars.scss';

.tasks {
    grid-column: 2 / 4;
    grid-row: 3 / 5;

    // display: grid;
    // grid-template-columns: 5fr 4fr;
    // grid-template-rows: 1fr;
    display: flex;

    overflow: hidden;
}

.tasks__list {
    display: block;
    width: 100%;

    flex-grow: 1;
    flex-shrink: 0;

    background-color: $dark-bg-color;
    transition: flex-shrink .5s;

    overflow-x: auto;
}

.tasks__list.open-task-list {
    flex-shrink: 1;
}

.tasks__list::-webkit-scrollbar {
    width: .5em;
    background-color: $dark-bg-color;
    border-left: 1px solid $light-gray;
}

.tasks__list::-webkit-scrollbar-thumb {
    border-left: 1px solid $light-gray;
    background-color: $light-gray;
    box-shadow: inset -1px 0 0 0 $dark-bg-color, inset 1px 0 0 0 $dark-bg-color;
}





