@import '../vars.scss';

.tasks {
    grid-column: 2 / 4;
    grid-row: 3 / 5;

    // display: grid;
    // grid-template-columns: 5fr 4fr;
    // grid-template-rows: 1fr;
    display: flex;

    overflow: hidden;
}

.tasks__list {
    display: block;
    width: 100%;

    flex-grow: 1;
    flex-shrink: 0;

    background-color: $dark-bg-color;
    transition: flex-shrink .5s;

    overflow-x: auto;
}

.tasks__list.open-task-list {
    flex-shrink: 1;
}



